:root {
  --global-charleston-green-color: #2c2c2c;
  --global-dodger-blue-color: #1890ff;
  --global-purple-taupe-color: #434949;
  --global-kelly-green: #52c41a;
  --global-white-color: #fff;
  --global-black-color: #000;
  --global-antique-white-color: #faebd7;
  --global-platinum-color: #e5e5e5;
  --global-maastricht-blue-color: #001529;
}
