:root {
  --global-font-family: "Inter", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  --global-font-size: 0.8rem;

  --global-header-bg-color: var(--global-charleston-green-color);
  --global-primary-color: var(--global-dodger-blue-color);
}
