@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.sidebar {
  background-color: var(--global-white-color);
  color: #333;
}

@media screen and (max-width: 780px) {
  .ant-layout-sider {
    display: none;
  }
}
